*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #191C23;
    --clr-accent: goldenrod;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

/* ==========
General Styles
========== */

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../images/table.png");
    background-size: cover;
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    text-align: center;
}

strong { font-weight: var(--fw-bold);}

/* ==========
Typography
========== */
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1{ font-size: var(--fs-h1);}
h2{ font-size: var(--fs-h2);}
h3{ font-size: var(--fs-h3);}

h1{ color: var(--clr-accent);}

/* =========
Menu Section
========== */

#message-el {
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    font-style: italic;
}

p {
    font-size: var(--fs-h2);
}

.section__title {
    margin: 100px 0 0;
}

/* =========
Buttons
========== */

button {
    width: 200px;
    color: #016f32;
    background: var(--clr-accent);
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;   
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    border: none;
    border-radius: 2px;
    margin: 5px 10px;

}